---
- name: Display all variables/facts known for a host
  debug:
    var: libvirt_host_networks
  register: myresults

- name: validate variables are defined
  include_tasks: verify_variables.yml

- name: ensure required packages are installed
  become: yes
  shell: >
    rpm -q "{{ item }}" || yum install -y "{{ item }}" && echo yes
  args:
    warn: false
  loop: "{{ required_rpm_pakcages }}"
  register: pkg_installed
  changed_when: pkg_installed.stdout == 'yes'

- name: configure shell extras
  include_tasks: configure_shell.yml
  when: configure_shell|bool

- name: Setup Libvirt
  include_tasks: libvirt_setup.yml

- name: Setup Cockpit
  include_tasks: cockpit_setup.yml
  when: enable_cockpit|bool

#- name: Flush handlers
#  meta: flush_handlers