<network connections='1'>
  <name>{{ libvirt_host_networks[1].name }}</name>
  <forward mode='{{ libvirt_host_networks[1].mode }}'/>
  <bridge name='{{ libvirt_host_networks[1].bridge_device }}'/>
</network>
