# Bridge Device
# {{ ansible_managed }}
# commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}
DEVICE={{ bridge_device }}
NAME={{ bridge_name }}_port0
TYPE=Ethernet
HWADDR={{ mac_address }}
BOOTPROTO=none
ONBOOT=yes
BRIDGE={{ bridge_name }}
ZONE=public