# {{ bridge_name }} port
# {{ ansible_managed }}
# commit: {{ lookup('pipe', 'git rev-parse --short HEAD') }}
DEVICE={{ bridge_name }}
NAME={{ bridge_name }}
TYPE={{ interface_type }}
ONBOOT=yes
{% if bootproto == "dhcp" %}
BOOTPROTO={{ bootproto }}
{% elif bootproto == "none" %}
BOOTPROTO=static
IPADDR={{ ipaddress }}
GATEWAY={{ gateway }}
PREFIX={{ netmask_prefix }}
{% endif %}
ZONE=public
DELAY=0
