DEVICE={{ item.bridge_device }}
NAME={{ item.bridge_device }}
TYPE={{ item.ifcfg_type }}
ONBOOT=yes
{% if item.ifcfg_bootproto == "dhcp" %}}
BOOTPROTO={{ item.ifcfg_bootproto }}
{% elif item.ifcfg_bootproto == "none" %}
BOOTPROTO=static
IPADDR={{ item.ipaddress }}
GATEWAY={{ item.gateway }}
PREFIX={{ item.mas_prefix }}
{% endif %}
ZONE=public
DELAY=0